# Dependencies
.venv
__pycache__
*.pyc
*.pyo
*.egg-info

# Build artifacts
build
dist

# Runtime
logs
.env

dsno_download_upload
config.txt
config.toml

.ruff_cache
# Runtime/generated project artifacts
*.log
*.db
*_history.json
Output/
