[PATHS]
DSNO_DIRECTORY = Z:\Documentação\ORACLE\EDI\Editor de DSNO\DSNO
CONTROL_SHEET = Z:\Documentação\ORACLE\EDI\ASN NAVSTAR\Control ASN Navistar.xlsx
CUSTOMER_SHEET = 
CUSTOMER_SHEET_PRE_PATH = Z:\Documentação\ORACLE\EDI\ASN NAVSTAR
PROCESSOR_VALID_STATUSES = Downloaded

[EBS]
EBS_DOWNLOAD_URL = https://cbz1p-ebs.cummins.com/OA_HTML/RF.jsp?function_id=63093&resp_id=52646&resp_appl_id=50001&security_group_id=0&lang_code=US&params=sOpRchaciPh1y.IAeyZw4z660afW5TIyT8G.MeFl0zY
EBS_UPLOAD_URL = https://cbz1p-ebs.cummins.com/OA_HTML/RF.jsp?function_id=63073&resp_id=52646&resp_appl_id=50001&security_group_id=0&lang_code=US&params=sOpRchaciPh1y.IAeyZw4z660afW5TIyT8G.MeFl0zY
DOWNLOAD_DIR = Z:\Documentação\ORACLE\EDI\Editor de DSNO\DSNO
UPLOAD_DIR = Z:\Documentação\ORACLE\EDI\Editor de DSNO\DSNO\processed
DSNO_COL = ARGUMENT2
DATE_COL = CREATION_DATE
STATUS_COL = STATUS
PASTAS_INDICES = 92,95,101
UPLOAD_PASTA_INDICE = 92
EMAIL = ao32v@cummins.com
PASSWORD = senha
