[general]
language = "en"
data_source = "database"

[paths]
dsno_directory = "Z:\\Documentação\\ORACLE\\EDI\\DSNO\\WIP"
control_sheet = "Z:\\Documentação\\ORACLE\\EDI\\ASN NAVSTAR\\Control ASN Navistar.xlsx"
customer_sheet = "."
customer_sheet_pre_path = "Z:\\Documentação\\ORACLE\\EDI\\ASN NAVSTAR"
database_dir = "\\\\cbzlswputil11\\BR.GUA.CBZL\\LocalSharedFolders\\projetos3\\Informatica\\EBU IT - Brazil - Local Support\\SOFTTEK\\Software\\dsno-processor-database"

[processor]
bypass_file_size_check = false
keep_original = true

[customer_sheet.cols]
invoice = "Invoice"
booking = "Booking/HAWB"
container = "Container"

[customer_sheet.config]
sheet_name = ""

[control_sheet.cols]
invoice = "INVOICE"
dsno = "ARGUMENT2"
date = "CREATION_DATE"
status = "STATUS"
freight_oracle = "FREIGHT_ORACLE"
freight_softway = "FREIGHT_SOFTWAY"
description = "Obs"

[ebs]
download_url = "https://cbz1p-ebs.cummins.com/OA_HTML/RF.jsp?function_id=63093&resp_id=52646&resp_appl_id=50001&security_group_id=0&lang_code=US&params=sOpRchaciPh1y.IAeyZw4z660afW5TIyT8G.MeFl0zY"
upload_url = "https://cbz1p-ebs.cummins.com/OA_HTML/RF.jsp?function_id=63073&resp_id=52646&resp_appl_id=50001&security_group_id=0&lang_code=US&params=sOpRchaciPh1y.IAeyZw4z660afW5TIyT8G.MeFl0zY"
download_dir = "Z:\\Documentação\\ORACLE\\EDI\\DSNO\\WIP"
upload_dir = "Z:\\Documentação\\ORACLE\\EDI\\DSNO\\WIP\\Processed"
headless = true

[ebs.folders]
download_indices = [
    92,
    95,
    101,
]
upload_index = 92

[credentials]
email = ""
password = ""

[oracle]
user = "interface"
password = "interface"
dsn = "cbz1p-scan.cummins.com:1521/CBZ1P"
customer_id = "3579646"
lookback_months = 1
jdbc_jar = ""
jvm_path = ""
